<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-01-31T10:24:36Z</date>
	<key>WorkspacePath</key>
	<string>/Users/nazarkovalik/Desktop/безіменна папка 4/безіменна папка/request_test/request_test.xcworkspace</string>
</dict>
</plist>
